
@media (min-width: 550px) {
    .row {
        max-width: 100%;
        overflow: scroll;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap:4%;
    }
}