
@media (min-width: 550px) {
    .row {
        display: flex;
        overflow: ;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap:4%;
    }
}