:root{
    --background-color: #FFFFFF;
    --on-background-color: #2B2B2B;
    --on-background-low-color: #9598A1;
    --on-background-medium-color: #707279;
    --on-background-high-color: #2B2B2B;
    --primary-color: #6C5CE7;
    --on-primary-color: #FFFFFF;
    --border-medium-color: #EDEDED;
    --border-medium-hover-color: #CECECE;
    --border-medium-focus-color: #C6C6C6;
    --border-medium-active-color: #AFAFAF;
    --border-high-color: #BABEC9;
    --border-high-hover-color: #A3A6B0;
    --border-high-focus-color: #9DA1A9;
    --border-high-active-color: #8C8F96;
    --border-primary-color: #6C5CE7;
    --border-primary-hover-color: #8376EB;
    --border-primary-focus-color: #897DEC;
    --border-primary-active-color: #8F83ED;
    --surface-color: #FFFFFF;
    --surface-hover-color: #EDEBFC;
    --surface-active-color: #DCD8F9;
    --surface-focus-color: #E2DEFA;
    --on-surface-color: #2B2B2B;
    --on-surface-medium-color: #707279;
    --on-surface-low-color: #9598A1;
    --surface01-color: #FFFBFF;
    --surface02-color: #F7F2FD;
    --surface-primary-color: #140068;
    --surface-primary-hover-color: #3A2980;
    --surface-primary-active-color: #433386;
    --surface-primary-focus-color: #4C3D8C;
    --on-surface-primary-color: #FFFFFF;
    --surface-neutral-color: #FFFFFF;
    --surface-neutral-hover-color: #F4F5F6;
    --surface-neutral-focus-color: #F1F2F4;
    --surface-neutral-active-color: #EEEFF2;
    --on-surface-neutral-high-color: #2B2B2B;
    --on-surface-neutral-medium-color: #707279;
    --on-surface-neutral-low-color: #9598A1;
    --positive-color: #37B26C;
    --negative-color: #E62E5C;
    --warning-color: #FFC640;
    --process-color: #0984E3;
    --primary-surface-color: #F6F5FE;
    --positive-surface-color: #F3FAF6;
    --negative-surface-color: #FDF2F5;
    --warning-surface-color: #FFFCF4;
    --process-surface-color: #F0F8FD;
}